body{
    background-color: gray;
  
}

.box {
    width: 271px;
    margin: 80px;
    background-color:white;
    padding: 10px;
}

.red {
    background-color: rgb(221, 20, 37);
    width: 200px;
    height: 200px;
    border: 1em solid darkred;
    margin-bottom: 1em;
    padding-right: 40px;
}

.yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 1em solid darkgoldenrod;
    margin-bottom: 1em;
    padding-right: 40px
}

.green {
    background-color: green;
    width: 200px;
    height: 200px;
    border: 1em solid darkgreen;
    margin-bottom: 1em;
    padding-right: 40px;
}


.pink {
    background-color: rgb(247, 142, 142);
    height: 50%;
    margin: 100px  0px;
}

.purple {
    background-color: rgb(243, 246, 143);
    height: 50%;
    width: 50%;
    margin-bottom: 30px 0px;
}


.gray {
    background-color: rgb(32, 237, 117);
    height: 50%;
    width: 50%;
   
    margin-bottom: 50px;
    
    
}

      